<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lny.bbs.dao.ArticleMapper" >
	<select id="queryArticleCountBySid" parameterType="Integer" resultType="Integer">
		select count(1) from bbs_article where sid = #{sid}
	</select>
	<select id="selectArticlePageBySid" parameterType="pageQueryVo" resultType="article">
		select * from bbs_article where sid = #{sid}
		limit #{pageQueryVo.startIndex},#{pageQueryVo.pageSize}
	</select>
	<delete id="deleteArticleById" parameterType="article">
		delete from bbs_article where id = #{id}
	</delete>
	<update id="updateArticle" parameterType="article">
		update bbs_article
		<set>
			<if test="art_label != null">
				art_label = #{art_label},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="content != null">
				content = #{content}
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<select id="queryArticleCountByUid" parameterType="Integer" resultType="Integer">
		select count(1) from bbs_article where uid = #{uid}
	</select>
	<select id="selectArticlePageByUid" parameterType="pageQueryVo" resultType="article">
		select * from bbs_article where uid = #{uid}
		limit #{pageQueryVo.startIndex},#{pageQueryVo.pageSize}
	</select>
	<select id="queryArticleCountByStar" parameterType="Integer" resultType="Integer">
		select count(1) from bbs_article a 
		left join bbs_star s on a.id = s.aid 
		left join bbs_user u on u.id = s.uid where u.id = #{uid}
	</select>
	<select id="selectArticlePageByStar" parameterType="pageQueryVo" resultType="starArticle">
		select a.id,a.content,a.uid,a.date,a.author,a.art_label,a.sid,a.reply_count,a.title,s.star_date
		from bbs_article a
		left join bbs_star s on a.id = s.aid
		left join bbs_user u on u.id = s.uid where u.id = #{uid}
		limit #{pageQueryVo.startIndex},#{pageQueryVo.pageSize}
	</select>
	<delete id="deleteArticleByStar">
		delete from bbs_star where uid = #{0} and aid = #{1}
	</delete>
	<insert id="insertArticle" useGeneratedKeys="true" parameterType="article">
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into bbs_article(title,content,uid,author,date,sid) 
		values(#{title},#{content},#{uid},#{author},#{date},#{sid})
	</insert>
	<select id="selectArticleBySidAid" resultType="articleVo">
		select a.id,a.content,a.uid,a.date,a.author,a.art_label,a.title,a.praise,a.blame,
		u.grade,u.article_count from bbs_article a left join bbs_user u on
		a.uid = u.id where a.id = #{1} and a.sid = #{0}
	</select>
	<insert id="insertArticleStar">
		insert into bbs_star(uid,aid,star_date) values(#{0},#{1},#{2})
	</insert>
	<select id="queryArticleStar" resultType="Integer">
		select count(1) from bbs_star where uid = #{0} and aid =#{1}
	</select>
	<update id="updateArticleCount" parameterType="Integer">
		update bbs_article
		<set>
			reply_count = reply_count + 1
		</set>
		<where>
			id = #{aid}
		</where>
	</update>
	<update id="updateArticlePraise" parameterType="Integer">
		update bbs_article
		<set>
			praise = praise + 1
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<update id="updateArticleBlame" parameterType="Integer">
		update bbs_article
		<set>
			blame = blame + 1
		</set>
		<where>
			id = #{id}
		</where>
	</update>
</mapper>