<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lny.bbs.dao.CommentMapper" >
	<insert id="insertComment" parameterType="comment">
		insert into bbs_comment
		<!-- (comment,uid,aid,date,author,) -->
		<trim prefix="(" suffix=")" suffixOverrides=",">
			comment,uid,aid,date,author,
			<if test="from_content != null">
				from_content,
			</if>
			<if test="from_nickname != null">
				from_nickname,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			#{comment},#{uid},#{aid},#{date},#{author},
			<if test="from_content != null">
				#{from_content},
			</if>
			<if test="from_nickname != null">
				#{from_nickname},
			</if>
		</trim>
	</insert>
</mapper>