<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lny.bbs.dao.CommentMapper" >
	<insert id="insertComment" parameterType="comment">
		insert into bbs_comment
		<!-- (comment,uid,aid,date,author,) -->
		<trim prefix="(" suffix=")" suffixOverrides=",">
			comment,uid,aid,date,author,
			<if test="from_content != null">
				from_content,
			</if>
			<if test="from_nickname != null">
				from_nickname,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			#{comment},#{uid},#{aid},#{date},#{author},
			<if test="from_content != null">
				#{from_content},
			</if>
			<if test="from_nickname != null">
				#{from_nickname},
			</if>
		</trim>
	</insert>
	<select id="selectCommentCountByAid" parameterType="Integer" resultType="Integer">
		select count(1) from bbs_comment where aid = #{aid}
	</select>
	<select id="selectCommentPageByAid" parameterType="pageQueryVo" resultType="commentVo">
		select c.id,c.comment,c.date,c.author,c.uid,c.aid,c.praise,c.blame,
		c.from_content,c.from_nickname,u.grade,u.article_count 
		from bbs_comment c left join bbs_user u on c.uid = u.id
		 where c.aid = #{aid}
		order by date asc
		limit #{pageQueryVo.startIndex},#{pageQueryVo.pageSize}
	</select>
</mapper>