<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lny.bbs.dao.UserMapper" >
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true">
		insert into bbs_user(username,passwd,grade,email,nickname,birthday,sex) 
		values(#{username},#{passwd},#{grade},#{email},#{nickname},#{birthday},#{sex})
	</insert>
	<select id="selectUserByUsername_passwd" resultType="User">
		select * from bbs_user where username = #{0} and passwd = #{1}
	</select>
	<update id="updateUserSetting">
		update bbs_user
		<set>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				grade = #{grade,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectUserById" parameterType="Integer" resultType="User">
		select * from bbs_user where id = #{id}
	</select>
	<update id="updateOnline">
		update bbs_user set online = 1 where id = #{id}
	</update>
	<update id="updateUnOnline">
		update bbs_user set online = 0 where id = #{id}
	</update>
	<select id="selectOnlineCount" resultType="Integer">
		select count(1) from bbs_user where online = 1
	</select>
	<select id="queryUserCount" resultType="Integer">
		select count(1) from bbs_user;
	</select>
	<resultMap type="UserSectionVo" id="selectUserSectionPageMap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="nickname" property="nickname"/>
		<result column="position" property="position"/>
		<collection property="section" javaType="section">
			<id column="sid" property="id"/>
			<result column="sec_name" property="sec_name"/>
			<result column="sec_label" property="sec_label"/>
			<result column="uid" property="uid"/>
		</collection>
	</resultMap>
	<select id="selectUserSectionPage" parameterType="pageQueryVo" resultMap="selectUserSectionPageMap">
		select
		u.id,u.username,u.nickname,u.position,
		s.id sid,s.sec_name,s.sec_label,s.uid
		from bbs_user u left join bbs_section s on u.id = s.uid
		limit #{startIndex},#{pageSize}
	</select>
	<update id="updateUserPosition">
		update bbs_user
		<set>
			position = #{1}
		</set>
		where id = #{0}
	</update>
	<update id="updateUserPositionSection">
		update bbs_user
		<set>
			position = #{1}
		</set>
		where id = #{0};
	</update>
	<select id="selectUserBanPage" parameterType="pageQueryVo" resultType="user">
		select id,username,nickname from bbs_user where ban = 1
		limit #{startIndex},#{pageSize}
	</select>
	<select id="queryUserBanCount" resultType="Integer">
		select count(1) from bbs_user where ban = 1
	</select>
	<update id="updateUserUnban" parameterType="Integer">
		update bbs_user
		<set>
			ban = 0
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<select id="queryUserAccuseCount" resultType="Integer">
		select count(1) from bbs_user where accuse = 1 and ( ban = 0 or ban is null )
	</select>
	<select id="selectUserAccusePage" parameterType="pageQueryVo" resultType="user">
		select id,username,nickname from bbs_user where accuse = 1 and ( ban = 0 or ban is null )
		limit #{startIndex},#{pageSize}
	</select>
	<update id="updateUserBan">
		update bbs_user
		<set>
			ban = 1
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<update id="updateUserAccuse">
		update bbs_user
		<set>
			accuse = 1
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<update id="updateUserUnaccuse">
		update bbs_user
		<set>
			accuse = 0
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<update id="updateUserArticleCountInc" parameterType="Integer">
		update bbs_user set article_count = article_count + 1 where id = #{id}
	</update>
	<update id="updateUserArticleCountDec" parameterType="Integer">
		update bbs_user set article_count = article_count - 1 where id = #{id}
	</update>
	<select id="checkOnline" parameterType="Integer" resultType="Integer">
		select count(1) from bbs_user where id = #{id} and online = 1
	</select>
</mapper>